{% extends "base.html" %} {% block content %}

<div class="text-center alert alert-primary">COVID-19 Chatbot</div>

<div class="container mx-auto">
  <form action="/" method="POST">
    <div class="form-row text-center">
      <div class="col">
        <div class="form-group">
          <label for="textarea">Ask a Question </label>
          <textarea class="form-control" name="textarea" rows="3"></textarea>
        </div>
      </div>

      <button
        class="btn btn-block btn-primary text-center mx-auto"
        style="margin-top: 1em"
      >
        Generate Response
      </button>
    </div>
  </form>
</div>

{% if response %}
<div
  class="card text-center my-3 w-50 mx-auto alert-primary"
  style="width: 18rem;"
>
  <div class="card-body">
    <p class="card-text">{{ response }}</p>
  </div>
  {% endif %}
</div>

<br />

<div class="container">
  <p class="text-center">
    By David Oniani and Dr. Yanshan Wang.
    <br />
    The original code and the language model are available at
    <a href="https://github.com/oniani/covid-19-chatbot"
      >https://github.com/oniani/covid-19-chatbot</a
    >.
  </p>
</div>
{% endblock %}
